{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Детальная информация о статье\новости</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название новости</td>
               <td>Дата публикации</td>
               <td>Полный текст</td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ news.article }}</td>
               <td>{{ news.time_in|date:'d M Y' }}</td>
               <td>{{ news.text }}</td>
               <td>{{ news.text|censor }}</td>
           </tr>

       </table>
   {% else %}
       <h2>Ничего нет!</h2>
   {% endif %}
{% endblock content %}